.bg-lightgreen {
    background-color: #6de76d;
}

.bg-darkgreen {
    background-color: #339f00;
}

.bg-darkerblue {
    background-color: #000033;
}

.border-darkblue {
    border-color: darkblue !important;
}

.w-20 {
    width: 20% !important;
}

.w-fit-content {
    width: fit-content !important;
}

.h-0 {
    height: 0 !important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.mw-10 {
    max-width: 10%; !important;
}

.mh-10 {
    max-height: 10%; !important;
}

.mw-30 {
    max-width: 30%; !important;
}

.mh-75 {
    max-height: 75%; !important;
}

.top-20 {
    top: 20%; !important;
}

.all-unset {
    all: unset;
}

.bg-darkgrey {
    background-color: #282828; !important;
}

.keep-linebreaks {
    white-space: pre-line; !important;
}
