.bg-lightgreen {
    background-color: #6de76d;
}

.bg-darkgreen {
    background-color: #339f00;
}

.bg-darkerblue {
    background-color: #000033;
}

.border-darkblue {
    border-color: darkblue !important;
}

.w-20 {
    width: 20% !important;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.mw-30 {
    max-width: 30%; !important;
}

.mh-75 {
    max-height: 75%; !important;
}

.top-20 {
    top: 20%; !important;
}

.all-unset {
    all: unset;
}
